body {
    background-color: #19161f;
}

.main-content {
    background-color: unset;
    align-items: center;
    justify-content: center;
}

.scrambling {
    filter: invert(1) blur(1.8px) brightness(0.8) !important;
    text-shadow:
        0 0 10px #888,
        0 0 5px #bbb !important;
}

span,
p {
    filter: invert(1);
}

.random-word {
    margin: 0;
}