.main-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.main-content h2 {
    font-size: 56px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 15px;
}